/*--------------------*/
/* Utility classes    */
/*--------------------*/

:root{
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;
}

.flex{
  display: flex;
  gap: var(--gap, 0.5em)
}

.container{
  padding-inline: 2em;
}

.text-dark{
  color: hsl(var(--clr-dark))
}

.text-light{
  color: hsl(var(--clr-light))
}

.text-white{
  color: hsl(var(--clr-white))
}

.bg-dark{
  background-color: hsl(var(--clr-dark))
}

.bg-light{
  background-color: hsl(var(--clr-light))
}

.bg-white{
  background-color: hsl(var(--clr-white))
}

.uppercase{
  text-transform: uppercase;
}

.flow > *:where(:not(:first-child)){
  margin-top: var(--flow-gap, 1em);
}