/*--------------------*/
/* Custom variables   */
/*--------------------*/

:root{
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;

  --ff-serif: 'Bellefair', serif;
  --ff-sans: 'Barlow', sans-serif;
  --ff-sans-cond: 'Barlow Condensed', sans-serif;

  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  --ls-large: 0.3rem;
  --ls-medium: 0.17rem;
  --ls-small: 0.15rem;
}

@media (max-width: 55rem) {
  :root{
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
    --fs-300: 0.875rem;

    --ls-large: 0.21rem;
    --ls-medium: 0.15rem;
  }
}

@media (max-width: 35rem) {
  :root{
    --fs-900: 5rem;
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1.25rem;
    --fs-500: 1rem;
    --fs-400: 0.94rem;

    --ls-large: 0.17rem;
  }
}


/*--------------------*/
/* Utility classes    */
/*--------------------*/

/* General */

.troubleshoot-r * {
  border: 1px solid red;
}

.troubleshoot-g * {
  border: 1px solid green;
}


.flex{
  display: flex;
  gap: var(--gap, 0.5em)
}

.container{
  padding-inline: var(--padding, 2em);
  /* max-width: 80rem; */
}

.flow > *:where(:not(:first-child)){
  margin-top: var(--flow-gap, 1em);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.block {
  display: block;
}

/* Text color */

.text-dark{
  color: hsl(var(--clr-dark))
}

.text-light{
  color: hsl(var(--clr-light))
}

.text-white{
  color: hsl(var(--clr-white))
}


/* Background color */

.bg-dark{
  background-color: hsl(var(--clr-dark))
}

.bg-light{
  background-color: hsl(var(--clr-light))
}

.bg-white{
  background-color: hsl(var(--clr-white))
}


/* Font family */

.ff-serif{
  font-family: var(--ff-serif);
}

.ff-sans{
  font-family: var(--ff-sans);
}

.ff-sans-cond{
  font-family: var(--ff-sans-cond);
}


/* Font size */

.fs-900{
  font-size: var(--fs-900);
}

.fs-800{
  font-size: var(--fs-800);
}

.fs-700{
  font-size: var(--fs-700);
}

.fs-600{
  font-size: var(--fs-600);
}

.fs-500{
  font-size: var(--fs-500);
}

.fs-400{
  font-size: var(--fs-400);
}

.fs-300{
  font-size: var(--fs-300);
}

.fs-200{
  font-size: var(--fs-200);
}

/* Font style */

.uppercase{
  text-transform: uppercase;
}


/* Text styles */

.heading-1{
  text-transform: uppercase;
  font-family: var(--ff-serif);
  font-size: var(--fs-900);
}

.heading-2{
  text-transform: uppercase;
  font-family: var(--ff-serif);
  font-size: var(--fs-800);
}

.heading-3{
  text-transform: uppercase;
  font-family: var(--ff-serif);
  font-size: var(--fs-700);
}

.heading-4{
  text-transform: uppercase;
  font-family: var(--ff-serif);
  font-size: var(--fs-600);
}

.heading-5{
  text-transform: uppercase;
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-500);
  letter-spacing: var(--ls-large);
  color:hsl(var(--clr-light))
}

.sub-heading-1{
  --fs-500: 1.75rem;
  text-transform: uppercase;
  font-family: var(--ff-serif);
  font-size: var(--fs-500);
}

.sub-heading-2{
  text-transform: uppercase;
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-200);
  letter-spacing: var(--ls-small);
  color:hsl( var(--clr-light));
}

.nav-text{
  text-transform: uppercase;
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-300);
  letter-spacing: var(--ls-medium);
}

.body-text{
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  color:hsl( var(--clr-light));
}



/*--------------------*/
/* Component classes  */
/*--------------------*/

/* Numbered titles */
.numbered-title {
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-500);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.numbered-title > span{
  color: hsl(var(--clr-white) / 0.25);
  padding-right: 1rem;
  font-weight: bold;
}

/* Tab navigation */
#main-navigation{
  display: flex;
  align-items: center;
  flex: 1;
}

#main-navigation::before{
  content: '';
  z-index: 2000;
  height: 1px;
  background-color: hsl( var(--clr-white) / 0.25);
  /* width: 5em; */
  flex: 1;
  margin-right: max(-5vw, -5em);
}

.tab-navigation{
  display: flex;
  gap: var(--gap, 2em);
}

#main-navigation .tab-navigation{
  --gap: 4em;
  padding-inline: clamp(3em, calc(5vw + 2em) , 15em);
  background-color: hsl(var(--clr-white) / 0.1);
}

@media (max-width: 55rem) {
  #main-navigation{
    flex: 0;
  }

  #main-navigation .tab-navigation{
    --gap: 2em;
    padding-inline: 2.5em;
  }
}

@media (max-width: 35rem) {
  #main-navigation{
    z-index: 1000;
    position: fixed;
    top: 1px;
    right: 0;
    height: 100vh;
    transform: translate(0%);
    transition: transform 0.5s ease-in-out;

    --fs-300: 1rem;
  }

  #main-navigation[data-expanded="false"]{
    transform: translate(100%);
  }

  #main-navigation .tab-navigation{
    flex-direction: column;
    height: 100%;
    --gap: 0.7em;
    padding-top: 8em;
    padding-inline: 2em 0.1em;
    width: clamp(10em, calc(60vw + 5em) , 20em);
    background-color: hsl(var(--clr-dark) / 0.85);
  }
}

@supports (backdrop-filter: blur(1px)) or (-webkit-backdrop-filter: blur(1px)){
  #main-navigation .tab-navigation{
    background-color: hsl(var(--clr-white) / 0.04);
    backdrop-filter: blur(80px);
    -webkit-backdrop-filter: blur(80px);
  }
}

.tab-navigation > * {
  padding-block: 1em;
  border-bottom: 2px solid hsl(var(--clr-white) / 0);
  color:hsl( var(--clr-light));
}

#main-navigation .tab-navigation > *{
  padding-block: 2em;
  color:hsl( var(--clr-white));
}

#main-navigation a{
  padding-block: 2em;
}

@media (max-width: 35rem){
  #main-navigation .tab-navigation > * {
    border-bottom: 0;
    border-right: 3px solid hsl(var(--clr-white) / 0);
    padding-block: 0.8em;
  }
}

.tab-navigation .numbered-text > span{
  font-weight: bold;
  padding-right: 0.5rem;
}

@media (max-width: 55rem) {
  .tab-navigation .numbered-text > span,
  #main-navigation::before{
    display: none;
  }  
}

@media (max-width: 35rem) {
  .tab-navigation .numbered-text > span{
    display: inline;
  }  
}


.tab-navigation > :hover,
.tab-navigation > :focus{
  border-color: hsl(var(--clr-white) / 0.5);
}

.tab-navigation > .active, 
.tab-navigation > [aria-selected="true"]{
  border-color: hsl(var(--clr-white) / 1);
  color:hsl( var(--clr-white));
}

#main-navigation .tab-navigation > :hover, 
#main-navigation .tab-navigation > :focus{
  border-color: hsl(var(--clr-white) / 0.5);
}

#main-navigation .tab-navigation > .active {
  border-color: hsl(var(--clr-white) / 1);
}

.tab-navigation[role="tablist"] > * {
  padding-block: 0.5em;
}

.tab-navigation > button{
  background-color: transparent;
}

.mobile-nav-toggle{
  background-color: transparent;
  padding: 0.3em;
  aspect-ratio: 1;
  z-index: 2000;
  display: none;
}

@media (max-width: 35rem) {
  .mobile-nav-toggle{
    display: inline;
  }
}

/* Large button */
.large-btn{
  position: relative;
  z-index: 1;
  aspect-ratio: 1;
  padding-inline: 1em;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.large-btn::after{
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: hsl( var(--clr-white) / .1);
  border-radius: 50%;
  opacity: 0;
  transition: transform 0.75s ease-in-out, opacity 0.5s linear;
}

.large-btn:hover::after,
.large-btn:focus::after{
  transform: scale(1.5);
  opacity: 1;
}

/* Slider bars */
.dot-slider > *{
  padding: 0.5rem;
  margin-inline: 0.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: hsl( var(--clr-white) / 0.15);
}

@media (max-width: 55rem) {
  .dot-slider > *{
    padding: 0.4rem;
  }  
}


.dot-slider > *:hover,
.dot-slider > *:focus{
  background-color: hsl( var(--clr-white) / 0.5)
}

.dot-slider > [aria-selected="true"]{
  background-color: hsl( var(--clr-white) / 1)
}

.numbered-slider{
  display: flex;
  flex-direction: column;
  min-width: 3.5rem;
  gap: 1em;
}

@media (max-width: 55rem) {
  .numbered-slider{
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0.5em
  }  
}

.numbered-slider > * {
  padding: 0.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: transparent;
  color: hsl( var(--clr-white));
  border: 1px solid hsl( var(--clr-white) / .25);
  flex-grow: 1;
}

@media (max-width: 55rem) {
  .numbered-slider > *{
    padding-inline: 0.75em;
  }  
}

.numbered-slider > *:hover,
.numbered-slider > *:focus{
  border-color: hsl( var(--clr-white));
}

.numbered-slider > [aria-selected="true"]{
  background-color: hsl( var(--clr-white));
  color: hsl( var(--clr-dark));
}


/* Header */

.main-header{
  display: flex;
  align-items: center;
  gap: 2.5em;
  padding-top: min(3vw, 3.5em);
  padding-left: 2em;
}

@media (max-width: 55rem) {
  .main-header{
    padding-top: 1px;
    justify-content: space-between;
  }
}

@media (max-width: 35rem) {
  .main-header{
    padding: 1.5em;
    justify-content: space-between;
  }

  .main-header .logo{
    width: 40px;
    height: 40px;
  }
}


/*--------------------*/
/* Page layouts       */
/*--------------------*/

/* General */
.App > * {
  background-size: cover;
  background-position: center;
}


/* Home */

.home{
  display: flex;
  flex-direction: column;
  background-image: url("./assets/home/background-home-desktop.jpg");
}

.home > .main{
  padding-inline: clamp(3em, 7.5vw, 10em);
  padding-bottom: 15vh;
  flex: 1;
  justify-content: space-between;
  align-items: flex-end;
}

.home > .main > *:first-child p {
  max-width: 45ch;
}

@media (max-width: 55rem) {
  .home{
    background-image: url("./assets/home/background-home-tablet.jpg");
  }

  .home > .main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-block: clamp(2em, 3vh, 5em);
    gap: clamp(3em, 3vh, 5em);
  }

  .home > .main > *:first-child p {
    max-width: 40ch;
    margin: auto
  }  

}

@media (max-width: 35rem) {
  .home{
    background-image: url("./assets/home/background-home-mobile.jpg");
    background-position: bottom;
  }

  .home > .main {
    padding-block: min(2em, 5vh);
    gap: min(5em, 10vh);
    justify-content: flex-start;
  }
}

/* Destination */
.destination{
  flex-direction: column;
  background-image: url("./assets/destination/background-destination-desktop.jpg");
}

.destination main {
  padding-inline: clamp(3em, 7.5vw, 10em);
  padding-block: 5vh;
  justify-content: center;
  flex: 1;
}

.destination .main{
  display: flex;
  padding-top: clamp(2em, 3vh, 5em);
  justify-content: center;
  gap: clamp(2em, 10vw, 20em);
}

.destination .main > *:first-child img,
.planetLoaderBg {
  width: clamp(17em, 25vw, 40em);
  height: clamp(17em, 25vw, 40em);
}

.destination .main > *:last-child [role="tabpanel"]{
  display: flex;
  flex-direction: column;
}  

.destination .main .description {
  max-width: 45ch;
}

.destination .main > *:last-child  aside {
  --flow-gap: clamp(1em, 5vh, 5em);
  display: flex;
  gap: 5em;
  padding-block: clamp(1em, 3vh, 3em);
  border-top: 1px solid hsl( var(--clr-light) /0.24)
}

@media (max-width: 55rem) {
  .destination{
    background-image: url("./assets/destination/background-destination-tablet.jpg");
  }

  .destination .main{
    flex-direction: column;
    text-align: center;
    gap: 2em;
  }

  .destination .main .tab-navigation{
    justify-content: center;
  }

  .destination .main > *:last-child [role="tabpanel"]{
    align-items: center;
  }  

  .destination .main .description {
    max-width: 65ch;
  }  

  .destination .main > *:last-child  aside {
    --flow-gap: 3em;
    justify-content: center;
    width: 100%;
  }  

}

@media (max-width: 35rem) {
  .destination{
    background-image: url("./assets/destination/background-destination-mobile.jpg");
  }

  .destination main{
    text-align: center;
    padding-inline: clamp(1em, 10vw, 3em);
    padding-top: 0;
  }

  .destination .main > *:first-child img,
  .planetLoaderBg {
    width: clamp(10em, 45vw, 15em);
    height: clamp(10em, 45vw, 15em);
  }
  
  .destination .main > *:last-child  aside {
    flex-direction: column;
    gap: 1.5em;
  }  
}

/* Crew */
.crew{
  flex-direction: column;
  background-image: url("./assets/crew/background-crew-desktop.jpg");
}

.crew main {
  flex-direction: column;
  padding-inline: clamp(3em, 7.5vw, 10em);
  padding-top: 5vh;
  justify-content: center;
  flex: 1;
}

.crew .main{
  display: flex;
  padding-top: clamp(2em, 3vh, 5em);
  justify-content: center;
  gap: clamp(1em, 2vw, 10em);
  flex: 1;
}

.crew .main > *:first-child {
  --flow-gap: clamp(2em, 10vh, 10em);
  align-self: center;
  flex-direction: column;
}

.crew .main > *:first-child [role="tabpanel"] {
  --flow-gap: clamp(0.1em, 2vh, 0.5em)
}

.crew .main h2 {
  color:hsl( var(--clr-white) /0.5)
}

.crew .main > *:last-child {
  justify-content: center;
  align-items: flex-end;
}

.crew .main > *:last-child img,
.crewLoaderBg {
  height: clamp(20em, 62.5vh, 30em);
  width: auto;
}

.crew .main > *:last-child picture{
  display: flex;
  align-items: flex-end;
}


@media (max-width: 55rem) {
  .crew{
    background-image: url("./assets/crew/background-crew-tablet.jpg");
  }

  .crew .main{
    flex-direction: column;
    text-align: center;
    gap: clamp(1em, 5vh, 5em)
  }

  .crew .main > *:first-child {
    --flow-gap: clamp(1em, 5vh, 5em);
  }  

  .crew .main > *:first-child [role="tabpanel"] {
    --flow-gap: clamp(1px, 1vh, 5px);
  }  

  .crew .main > *:first-child [role="tabpanel"] > p {
    max-width: 65ch;
  }  

  .crew .main > *:last-child img,
  .crewLoaderBg {
    height: clamp(20em, 45vh, 30em);
  }  

}

@media (max-width: 35rem) {
  .crew{
    background-image: url("./assets/crew/background-crew-mobile.jpg");
  }

  .crew main{
    text-align: center;
    padding-inline: clamp(1em, 10vw, 3em);
    padding-top: 0;
  }

  .crew .main{
    flex-direction: column-reverse;
    text-align: center;
    gap: clamp(1em, 3vh, 5em);
    padding-bottom: 10vh;
  }

  .crew .main > *:first-child{
    flex-direction: column-reverse;
    --flow-gap: 0;
  }

  .crew .main > *:first-child > *:first-child{
    margin-top: clamp(1em, 5vh, 5em);
  }

  .crew .main > *:first-child [role="tabpanel"] > p {
    max-width: 70ch;
  }  

  .crew .main h2 {
    font-size: 1rem;
  }

  .crew .main > *:last-child {
    border-bottom: 1px solid hsl( var(--clr-white) / 0.24);
  }  

  .crew .main > *:last-child img,
  .crewLoaderBg {
    height: clamp(15em, 35vh, 20em);
  }  

}

/* Technology */
.technology{
  flex-direction: column;
  background-image: url("./assets/technology/background-technology-desktop.jpg");
}

.technology main {
  flex-direction: column;
  padding-left: clamp(3em, 7.5vw, 10em);
  padding-top: 5vh;
  justify-content: center;
  flex: 1;
}

.technology .main{
  display: flex;
  padding-top: clamp(2em, 3vh, 5em);
  justify-content: space-between;
  flex: 1;
  gap: 3em;
}

.technology .main > *:first-child {
  gap: 2em;
  align-items: center;
}

.technology .main > *:first-child  p{
  max-width: 45ch;
}

.technology .main > *:last-child  img, 
.technologyLoaderBg{
  width: auto;
  height: clamp(40vh, 40vw, 60vh);
}


@media (max-width: 55rem) {
  .technology{
    background-image: url("./assets/technology/background-technology-tablet.jpg");
  }

  .technology main {
    padding-left: 0;
    padding-bottom: 10vh;
  }  

  .technology .main{
    flex-direction: column-reverse;
    text-align: center;
  }

  .technology .main > *:first-child {
    flex-direction: column;
  }  

  .technology .main > *:first-child [role = "tabpanel"] > * + * {
    margin-top: 0.2em;
  }  

  .technology .main > *:first-child  p{
    max-width: 50ch;
  }  

  .technology .main > *:last-child  img,
  .technologyLoaderBg{
    width: 100%;
    height: auto;
  }  

}

@media (max-width: 35rem) {
  .technology{
    background-image: url("./assets/technology/background-technology-mobile.jpg");
  }

  .technology main {
    text-align: center;
    padding-top: 0;
    padding-bottom: 5vh;
  }  

  .technology .main > *:first-child {
    padding-inline: 2em;
  }  
}



/*--------------------*/
/* Animations         */
/*--------------------*/

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Loader */
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  animation: fadein 500ms linear;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
